
<%= form_with(model: category) do |form| %>


<% if category.errors.any? %>
    <div style="color: red" class="text-center">
          <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-10 justify-center items-center m-auto form-container container m-6">

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

 <div>
    <%= form.submit "Submit", :class => 'cursor-pointer border-2 p-2 rounded-lg bg-blue-500 text-white text-sm mb-10' %>
  </div>


    <% end %>

