


<%if notice != nil %>

<% if notice.include? 'created' %>


 <% color='green' %>
<%elsif%>
 <% color='red' %>

<%end %>
<%end %>

<div class="<%="text-center #{color}"%>" >
<%= notice %>
</div>


<div class="summary-container">


<div>


  <% @categories.each do |category| %>

  <div class="category" > 
  <div class="category-item">

       <%= link_to  edit_category_path(category.id) do %>
       <%= image_tag 'edit.svg', :class => 'edit-cat', :id => "edit#{category.id}" %> 
        <%end%>
        
        <%= button_to  category_path(category.id), method: :delete, form: {data: {turbo_confirm: " \n This action will delete all tasks in #{category.name} category. \n \n Do you wish to proceed?"}}  do %>
       <%= image_tag 'trash.svg', :class => 'del-cat' %> 
        <%end%>

      <%= link_to category_path(category.id) do %>
      <input class="cat-item-name" id="<%= category.id %>" value="<%= category.name%>">
    <% end %>

    </div>

       <div class="count-and-add">
      <div>
      <%= category.tasks.count == 0 ? "-" : category.tasks.count %> 
  </div>
<div>
     <%= link_to new_category_task_path(category.id) do %> 
       <div class="add-category no-margin">

     <%= image_tag 'add-btn.svg' %>
     </div>
    <% end %>

      </div>

  </div>

  </div>
  
  <%end%>



 <%= link_to new_category_path do %>
  <div class="add-category">
           New category
  <%= image_tag 'add-btn.svg' %>

 </div>
   <%end %>

  

</div>
<div>
<div class="over-pending-incoming">

   <%= link_to overdue_tasks_path do %>
    <div>
      Overdue (<%= overdue_task(current_user.id).count %>)
    </div>
  <%end%>

    <%= link_to today_tasks_path do %>
      <div>
      Today (<%= today_task(current_user.id).count %>) 
      </div>
    <% end %>
    
    <%= link_to incoming_tasks_path do %>
      <div>
          Incoming (<%= incoming_task(current_user.id).count %>)
      </div>
    <% end %>
    
    </div>


<%= render "category-form-edit", category: @cat %>


<%= javascript_include_tag "customs/edit" %>



