
<h1 class='page-title' style="margin-top:0;"><%= @cat.name.capitalize%></h1>


<%if notice != nil %>

<% if notice.include? 'created' or notice.include? 'updated' or notice.include? 'success' %>
 <% color='green' %>
<%else%>
 <% color='red' %>
<%end %>
<%end %>


<div class="<%="text-center #{color}"%>" >
<%= notice %>
</div>

<div class="task-container">
<%  @cat.tasks.each do |x| %>
<div class="task-item-container">
        <div>
            <%= x.name%>
        </div>
        <div>
         <%= x.description%>
        </div>
         <div>
           <%= "#{x.deadline.year}-#{x.deadline.month}-#{x.deadline.day}"  %>
         </div> 
         <div>
         <%= link_to edit_category_task_path(category_id:x.category_id,id:x.id) do %>
           <%= image_tag 'edit.svg', :class => 'edit-cat'%>
           <% end %>

 <%= button_to  category_task_path(category_id:x.category_id,id:x.id), method: :delete, form: {data: {turbo_confirm: " \n This action will delete  task #{x.name}. \n \n Do you wish to proceed?"}}  do %>
       <%= image_tag 'trash.svg', :class => 'del-cat' %> 
        <%end%>
           <% # image_tag 'trash', :class => 'del-cat' %>
         </div> 
        </div>
    <%end%>

</div>


<%= link_to new_category_task_path(params[:id]) do %>
<div class="add-task-cat">
+
</div>
<% end %>

     
<!-- 
<div class='flex gap-5 align-center justify-center'>
<div>
    <%= button_to "Delete This Category", @cat, method: :delete, :class => "border-2 p-2 text-red-200 rounded-lg hover:bg-red-500 hover:text-white text-sm" %>
</div>

   <%= link_to "+ Task", new_category_task_path(@cat.id), :class => "border-2 p-2 text-blue-200 rounded-lg hover:bg-blue-500 hover:text-white text-sm" %> 

</div>

<div class="mt-10">
<table style="width:50%;margin:auto">
  <tr>
    <th style="border:0"></th>
    <th>Task Name</th>
    <th>Action</th>
  </tr>
<%  @cat.tasks.each do |task| %>
  <tr>
 
  <td class="edit-class bg-white text-center text-slate-200 hover:text-blue-500">
   <%= link_to "edit", edit_category_task_path(task.category_id,task.id) %>
  
  </td>

    <td>  <%=  task.name %></td>
  
    <td>
        <%= link_to "show",  category_task_url(id:task.id, category_id:task.category_id) %>
    </td>

  </tr>
     <% end %>
     
</table>

</div>

-->






  

