<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= notice %>
    <main class="container mx-auto mt-28 px-5 flex flex-col">

    <div class="container flex justify-center items-center flex-col">
    <div class="flex flex flex-col text-center mb-20">
        <h1 class="drop-shadow-lg">
            To Do List
        </h1>
        <p class="text-gray-500">
            Work Hard, Party Harder!
        </p>
    </div>
    
</div>


      <%= yield %>
    </main>
  </body>
</html>
