<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body>

  <% if action_name != 'home' %>
  
  <div class="text-center pt-20">
  <%= notice %>
  </div>
    <main class="container mx-auto mt-10 px-5 flex flex-col">

    <div class="container flex justify-center items-center flex-col">
    <div class="flex flex flex-col text-center mb-20">
      <%= link_to root_path do %>
        <h1 class="drop-shadow-lg">
            To Do List
        </h1>
        <%end %>
        <p class="text-gray-500">
            Work Hard, Party Harder!
        </p>
    </div>

    <% end %>

    </div>
      <%= yield %> 
    </main>
    <%= javascript_include_tag "customs/home"  %>     
  </body>
</html>
